use uni_dms;

-- 3. University of Colombo
UPDATE flat_zscores SET university_name = 'University of Colombo' WHERE university_name IN ('University of Colombo School of Computing', 'University of Colombo - Sri Palee Campus');
UPDATE university_degrees SET university = 'University of Colombo' WHERE university IN ('University of Colombo School of Computing', 'University of Colombo - Sri Palee Campus');

-- 4. University of Vavuniya
UPDATE flat_zscores SET university_name = 'University of Vavuniya, Sri Lanka' WHERE university_name IN ('[Any subject combination] (University of Vavuniya, Sri Lanka', '[Any subject combination]');
UPDATE university_degrees SET university = 'University of Vavuniya, Sri Lanka' WHERE university IN ('[Any subject combination] (University of Vavuniya, Sri Lanka', '[Any subject combination]');

-- 5. Unknown University
UPDATE flat_zscores SET university_name = 'Unknown University' WHERE university_name IN ('University of the Visual & Performing Arts', '& TECHNOLOGY MANAGEMENT');
UPDATE university_degrees SET university = 'Unknown University' WHERE university IN ('University of the Visual & Performing Arts', '& TECHNOLOGY MANAGEMENT');

-- 6. Rajarata University
UPDATE flat_zscores SET university_name = 'Rajarata University of Sri Lanka' WHERE university_name = 'Rajarata  University of Sri Lanka';
UPDATE university_degrees SET university = 'Rajarata University of Sri Lanka' WHERE university = 'Rajarata  University of Sri Lanka';

-- 7. Gampaha Wickramarachchi University
UPDATE flat_zscores SET university_name = 'Gampaha Wickramarachchi University of Indigenous Medicine, Sri Lanka' WHERE university_name = 'Gampaha Wickramarachchi University of Indigenous Medicine,';
UPDATE university_degrees SET university = 'Gampaha Wickramarachchi University of Indigenous Medicine, Sri Lanka' WHERE university = 'Gampaha Wickramarachchi University of Indigenous Medicine,';

-- (Optional) fixing other typos to link to main ones correctly too:
UPDATE flat_zscores SET university_name = 'University of Sri Jayewardenepura' WHERE university_name = 'University of Jayewardenepura';
UPDATE university_degrees SET university = 'University of Sri Jayewardenepura' WHERE university = 'University of Jayewardenepura';

UPDATE flat_zscores SET university_name = 'Sabaragamuwa University of Sri Lanka' WHERE university_name = '[Biological / Physical Science Stream] (Sabaragamuwa University of Sri Lanka';
UPDATE university_degrees SET university = 'Sabaragamuwa University of Sri Lanka' WHERE university = '[Biological / Physical Science Stream] (Sabaragamuwa University of Sri Lanka';

-- After updates, we might need to sync the 'universities' table to contain these exact names! Let's insert any missing distinct ones.
INSERT IGNORE INTO universities (name) 
SELECT DISTINCT university_name FROM flat_zscores WHERE university_name NOT IN (SELECT name FROM universities);
